html,body{
    margin: 0;
    padding: 0;
    outline: 0;
    background: darkslateblue;
    color: whitesmoke;
    height: 100vh;
    text-align: center;
    user-select: none;
}

.container{
  display: flex;
  gap: 15px;
justify-content: center;
margin-top: 10%;}

#score-guest{  
 width: 250px;
 height: 100px;
margin: 0 auto;
 display: flex;
 flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 12PX;
  border: none;
   
}

/**/
#score-home{
 width: 250px;
 height: 100px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20px;
 border-radius: 12px;
 border: none; 
  
    
}
.counter-plus{
  width: 50px;
  height: 45px;
  margin-top: 5px;
  padding: 12px;
 border-radius:5px;
 border: none;
}
.counter-plus:hover{
  background: darkslateblue;
  border: solid #fff 2px;
  color: #fff;
}
#score-home{
 background-color: azure;
 font-size: 50px;
 font-weight: bold;
 margin-top: 15px;
 padding: 12px;
 color: black;

}
#score-home font{
  box-shadow: 1px 1px 31px rgbrgb(97, 95, 95);
}


#score-guest{
  background-color: azure;
  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
  padding: 12px;    
  color: black;
  box-shadow: 1px 1px 21px rgbrgb(97, 95, 95);
 }
 .s-el{
  margin-top: 20%;
 }

 
 




